<div class="section">
    <div class="container">
        <div class="row">
            <h3 class="title"><b><u>ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</u></b></h3>
            <p style="color: navy;"><b>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <u style="color: crimson;">A CONTINUACIÓN</u></b></p>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/logo.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/logo.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/logo.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/logo.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/logo.png" alt="">
                </div>
                <div class="slide">
                    <img src="https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
